@model BookWorms.Models.Admins.AdminBookViewModel
@{ ViewData["Title"] = "Index"; }

<h1>Book</h1>

<br />
<a href='@Url.Action("AddBook", "Admin")' class="btn btn-danger">Add book</a>
<table class="table" BORDERCOLOR=#006666>
    <thead class="thead-dark">
        <tr>

            <th style="text-align:center">
                @Html.DisplayName("Title")
            </th>
            
            <th style="text-align:center">
                @Html.DisplayName("Description")
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
<tr>

    <td style="text-align:center">

        @Html.DisplayFor(model => item.BookTitle)

    </td>

    <td style="text-align:center">
        @Html.DisplayFor(model => item.BookDescription)
    </td>
    
</tr>}
    </tbody>
</table>
